includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
    scanFiles:
      - tests/_Mocks/helpers.php
    tmpDir: build/phpstan
#    checkOctaneCompatibility: true
#    checkModelProperties: true
    checkMissingIterableValueType: false
